:root {
  --main-content-block-padding: 24px;
}

.wrapper {
  --card-padding-left: 6px;
  --card-padding-right: 6px;

  min-height: 100vh;
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  // background-color: hsl(var(--background));
  background-color: hsl(var(--sidebar-background));

}

.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: 20px;
  padding-inline: var(--container-padding);
  padding-block: var(--main-content-block-padding);
  height: calc(100vh - var(--header-height));
  transition: grid-template-columns var(--transition-duration);
}

.content {
  height: 100%;
  overflow: hidden;
}
