:root {
  --tab-background-color-selected: var(--primary-color);
}

.tabsContainer {
  font-family: var(--font-family);
  display: grid;
  gap: 16px;
}

.tabList {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  background-color: #f5f6f7;
  padding: 6px;
  border-radius: 12px;
  font-family: var(--font-family);
}

.tab {
  width: 100%;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  line-height: 1.14;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--tab-background-color-selected);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 10px;
  font-family: var(--font-family) !important;
  font-weight: 500;
  text-decoration: none;

  &[aria-selected='true'],
  &[aria-checked='true'] {
    color: #fff;
    background-color: var(--tab-background-color-selected);
  }

  &[data-disabled],
  &:disabled {
    cursor: not-allowed;
    color: #c1dbf0;
  }

  &:focus-visible {
    outline: 2px solid #b3ddff;
    outline-offset: 2px;
  }
}
