.card {
  --card-padding-top: 16px;
  --card-padding-bottom: 16px;
  --card-padding-left: 16px;
  --card-padding-right: 16px;

  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--card));
  border-radius: var(--card-border-radius);

  padding-top: var(--card-padding-top);
  padding-bottom: var(--card-padding-bottom);
  padding-left: var(--card-padding-left);
  padding-right: var(--card-padding-right);
}
