:root {
  --header-height: 70px;
}

.header {
  border-bottom: 1px solid #f1f2f4;
  background-color: #fff;
  padding: 16px 0;
}

.content {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-inline: 16px;

  @media screen and (min-width: 650px) {
    padding-inline: 24px;
  }
}
