:root {
  --sidebar-width: 250px;
}

.sidebar {
  max-width: var(--sidebar-width);
  width: 100%;
  overflow: hidden;
  transition: width var(--transition-duration);
  display: grid;
  grid-template-rows: auto 1fr;
}

.card {
  padding: 16px 6px;
  border: 1px solid hsl(var(--border));
  border-radius: var(--card-border-radius);
  background-color: hsl(var(--card));
}

.content {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
